{% extends 'base.html.twig' %}

{% block title %}Hello EditController!{% endblock %}

{% block body %}

<div class="container col-lg-4 FormAdd">
 <h1>Editer {{Product.name}}</h1>

 {#Afficher un formulaire #}
{{ form_start (AddProductFormType) }}

<div>
    {{ form_label(AddProductFormType.name) }}
    {{ form_widget(AddProductFormType.name) }}
</div>


{{ form_widget (AddProductFormType) }}
<div>
<img class="img-fluid" src="{{ asset ('img/uploads/' ~ Product.image ) }}" alt="">
</div>

 <button class="btn btn-primary">Modifier</button>
{{ form_end (AddProductFormType) }}
</div>

{% endblock %}
